  <!-- How it Works start -->
  <section class="how-it-works">
    <div class="overlay pt-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-header text-center">
                        <h5 class="sub-title">Get to Know</h5>
                        <h2 class="title">Follow The Simple Steps To Begin</h2>
                        <p>This system is user friendly and simple to engage. Follow the steps below to get started</p>
                    </div>
                </div>
            </div>
            <div class="main-content">
                <div class="row justify-content-between align-items-center">
                    <div class="col-lg-5">
                        <ul class="nav" role="tablist">
                            <li class="nav-item" role="presentation">
                                <h5 class="nav-link active" id="sport-tab" data-bs-toggle="tab"
                                    data-bs-target="#sport" role="tab" aria-controls="sport" aria-selected="true">
                                    <span class="image-area">
                                        <img src="../../assets/images/icon/how-works-icon-1.png" alt="icon">
                                    </span>
                                    Select sport
                                </h5>
                            </li>
                            <li class="nav-item" role="presentation">
                                <h5 class="nav-link" id="match-tab" data-bs-toggle="tab" data-bs-target="#match"
                                    role="tab" aria-controls="match" aria-selected="false">
                                    <span class="image-area">
                                        <img src="../../assets/images/icon/how-works-icon-2.png" alt="icon">
                                    </span>
                                    Select match
                                </h5>
                            </li>
                            <li class="nav-item" role="presentation">
                                <h5 class="nav-link" id="team-tab" data-bs-toggle="tab" data-bs-target="#team"
                                    role="tab" aria-controls="team" aria-selected="false">
                                    <span class="image-area">
                                        <img src="../../assets/images/icon/how-works-icon-3.png" alt="icon">
                                    </span>
                                    Select team
                                </h5>
                            </li>
                            <!--li class="nav-item" role="presentation">
                                <h5 class="nav-link" id="odds-tab" data-bs-toggle="tab" data-bs-target="#odds"
                                    role="tab" aria-controls="odds" aria-selected="false">
                                    <span class="image-area">
                                        <img src="../../assets/images/icon/how-works-icon-4.png" alt="icon">
                                    </span>
                                    Choose your odds
                                </h5>
                            </li-->
                            <li class="nav-item" role="presentation">
                                <h5 class="nav-link" id="amount-tab" data-bs-toggle="tab" data-bs-target="#amount"
                                    role="tab" aria-controls="amount" aria-selected="false">
                                    <span class="image-area">
                                        <img src="../../assets/images/icon/how-works-icon-5.png" alt="icon">
                                    </span>
                                    Enter stake amount
                                </h5>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="sport" role="tabpanel"
                                aria-labelledby="sport-tab">
                                <h6>Select the sport of your choice</h6>
                                <div class="img-area">
                                    <img src="../../assets/images/process-img-1.png" alt="image">
                                </div>
                            </div>
                            <div class="tab-pane fade" id="match" role="tabpanel" aria-labelledby="match-tab">
                                <h6>Select your match of interest</h6>
                                <div class="img-area">
                                    <img src="../../assets/images/process-img-2.png" alt="image">
                                </div>
                            </div>
                            <div class="tab-pane fade" id="team" role="tabpanel" aria-labelledby="team-tab">
                                <h6>Select a Team you wish to stake on.</h6>
                                <div class="img-area">
                                    <img src="../../assets/images/process-img-3.png" alt="image">
                                </div>
                            </div>
                            <!--div class="tab-pane fade" id="odds" role="tabpanel" aria-labelledby="odds-tab">
                                <h6>Enter the amount you wish to stake on your team.</h6>
                                <div class="img-area">
                                    <img src="../../assets/images/process-img-4.png" alt="image">
                                </div>
                            </div-->
                            <div class="tab-pane fade" id="amount" role="tabpanel" aria-labelledby="amount-tab">
                                <h6>Enter the amount you wish to stake on your team </h6>
                                <div class="img-area">
                                    <img src="../../assets/images/process-img-5.png" alt="image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- How it Works end -->