  <!-- All Soccer Bets start -->
  <section class="bet-this-game all-soccer-bets">
    <div class=" pb-120 pt-120">
        <div class="container">
            
            <div class="row cus-mar" >
             
                <div class="col-lg-6">
                    <div class="single-area">
                        <div class="head-area d-flex align-items-center">
                            <span class="mdr cmn-btn">Pick Winner</span>
                            <p>Mar 23, 2022,3:45PM EDT</p>
                        </div>
                        <div class="main-content justify-content-center d-flex" >
                            <div class="team-single">
                                <h6>Real Madrid United</h6>
                                <span class="mdr">Home</span>
                                <div class="img-area" data-bs-toggle="modal"
                                data-bs-target="#betpop-up">
                                    <img src="assets/images/team-logo-3.png" alt="image">
                                </div>
                            </div>
                            <div class="mid-area text-center small">
                                <div class="mb-5 d-flex align-items-center justify-content-center">
                                   <h3>VS</h3>
                                </div>
                                <button type="button" class="cmn-btn draw" data-bs-toggle="modal"
                                data-bs-target="#betpop-up">Draw</button>
                                
                            </div>
                            <div class="team-single">
                                <h6>Manchester United</h6>
                                <span class="mdr">Away</span>
                                <div class="img-area" data-bs-toggle="modal"
                                data-bs-target="#betpop-up">
                                    <img src="assets/images/team-logo-4.png" alt="image">
                                </div>
                            </div>
                        </div>
                        <div class="bottom-item justify-content-center d-flex">
                           <h3>premier league</h3>
                        </div>
                    </div>
                </div>
            
            </div>
            <div class="row">
                <div class="col-lg-12 d-flex justify-content-center">
                    <nav aria-label="Page navigation" class="d-flex justify-content-center mt-60">
                        <ul class="pagination justify-content-center align-items-center">
                            <li class="page-item">
                                <a class="page-btn previous" href="javascript:void(0)" aria-label="Previous">
                                    <img src="assets/images/icon/arrow-left.png" alt="icon">
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link xlr" href="javascript:void(0)">1</a></li>
                            <li class="page-item"><a class="page-link xlr active" href="javascript:void(0)">2</a>
                            </li>
                            <li class="page-item"><a class="page-link xlr" href="javascript:void(0)">3</a></li>
                            <li class="page-item"><a class="page-link xlr" href="javascript:void(0)">4</a></li>
                            <li class="page-item">
                                <a class="page-btn next" href="javascript:void(0)" aria-label="Next">
                                    <img src="assets/images/icon/arrow-right.png" alt="icon">
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- All Soccer Bets end -->