<!doctype html>
<html lang="en">


<body>

    <!-- Scroll To Top Start-->
    <a href="javascript:void(0)" class="scrollToTop"><i class="fas fa-angle-double-up"></i></a>
    <!-- Scroll To Top End -->
  <!-- Banner Section start -->
    <section class="banner-section inner-banner soccer-bets">
        <div class="overlay">
            <div class="shape-area">
                <img src="../../assets/images/winner-cup.png" class="obj-1" alt="image">
                <img src="../../assets/images/coin-5.png" class="obj-2" alt="image">
                <img src="../../assets/images/coin-3.png" class="obj-3" alt="image">
                <img src="../../assets/images/coin-6.png" class="obj-4" alt="image">
                <img src="../../assets/images/coin-9.png" class="obj-5" alt="image">
                <img src="../../assets/images/coin-8.png" class="obj-6" alt="image">
                <img src="../../assets/images/coin-7.png" class="obj-7" alt="image">
            </div>
            <div class="banner-content">
                <div class="container">
                    <div class="content-shape">
                        <img src="../../assets/images/coin-1.png" class="obj-8" alt="image">
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-10">
                            <div class="main-content">
                                <h1>Soccer Bet </h1>
                                <div class="breadcrumb-area">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb d-flex align-items-center">
                                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">Soccer Bet</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner Section end -->
    <section class="bet-this-game all-soccer-bets">
        <div class="overlay  pt-120">
            <div class="container">
                <div class="filter-section mb-60 mt-60">
                    <div class="section-text text-center">
                        <h3>All Soccer Bets</h3>
                    </div>
                    <form action="#" >
                        <div class="row">
                            <div class="col-xl-3 col-lg-6">
                                <div class="input-area">
                                    <img src="../../assets/images/icon/search-icon.png" alt="icon">
                                    <input class="small" type="text" placeholder="Search by League name">
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6">
                                <div class="single-input">
                                    <select>
                                        <option>Search by team name</option>
                                        <option value="2">Team 1</option>
                                        <option value="3">Team 2</option>
                                        <option value="4">Team 3</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6">
                                <div class="single-input">
                                    <select>
                                        <option>Select League</option>
                                        <option value="1">League 1</option>
                                        <option value="2">League 2</option>
                                        <option value="3">League 3</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6">
                                <div class="input-area">
                                    <img src="assets/images/icon/date-icon.png" alt="icon">
                                    <input type="text" id="dateSelect" placeholder="Select Date">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                
                <app-bet-soccer></app-bet-soccer>
             
            </div>
        </div>
    </section>
 
    <app-how-it-works></app-how-it-works>
    
    <app-faqs></app-faqs>


    <!--==================================================================-->

</body>

</html>